/* Home */
section.home #mainPicture {
  width: 800px;
}

/* Resume */
section.resume {
  text-align: left;
  margin-top: 50px;
  font-size: 11pt;
  line-height: 13pt;
}

section.resume h3 {
  margin: 50px 0 20px 0;
  font-size: 16pt;
  border-bottom: 1px solid #666;
  padding-bottom: 5px;
}

section.resume h4 {
  margin: 20px 0 5px 0;
  font-size: 12pt;
}

section.resume table {
  font-size: 11pt;
  width: 100%;
}

section.resume table th {
  width: 20%;
  font-weight: normal;
}

section.resume table.large th {
  width: 25%;
}

section.resume table td {
  padding: 5px 0;
}

/* Photos */
section.photos {
}

/* Reel */

/* Contact */
section.contact {
  text-align: left;
  margin-top: 50px;
}

section.contact a {
  text-decoration: underline;
}

section.contact a:hover {
  text-decoration: none;
}
